p {
    width: 300px;
    background: linear-gradient(lightskyblue, lightcyan);
    color: darkblue;
}

h1 {
    color: cornflowerblue;
    text-shadow: 3px 3px 1px lightblue;
}

ul {
    list-style: inside "\1F4A0";
    color: steelblue;
}